.wrapper{
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  padding: 20px;
/** align all items vertically **/
  margin-bottom: 10px;
  width: 47%;
  height: 50%;

  }
  .swipe a{
    text-decoration: none;
    color: inherit;
    }
  #div1 {
    float:left; /* add this */
    background-color: rgba(0,255,255,0.2);
    width: 60%;
  }
  #div1 img{
  width: 50%;
  height: 80%;
  border: 1px solid black;
  }
  #div2 {
    overflow: hidden;
    background-color: rgba(180, 112, 177, 0.2);
    width: auto;
  }
  
  
  #div1 .text-container {
    margin-left: 50px;
    width: 100%;
    height: 80%;
    border: 1px solid black;
  }
  #div2 .text-container {
    width: 100%;
    height: 80%;
    border: 1px solid black;
  }

  #div1 button{
    position: absolute;
    bottom: 40%;
  }
  #div1 #modifmat {
    right: 39%;
   }
   #div1 #fsub {
    right: 49%;
   }
   #div1 #supp {
    right: 59%;
   }
   #div1 #cancel {
    right: 39%;
   }
   #formimg {
    position: absolute;
    bottom: 40%;
   }

  #div2 button{
    position: absolute;
    bottom: 40%;
  }
  #div2 #modifstock {
    right: 2%;
   }
   #div2 #fsub {
    right: 13%;
   }
   #div2 #supp {
    right: 20%;
   }
   #div2 #cancel {
    right: 2%;
   }
  #butt{
    margin: 0 auto;
    width: 500px;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button2 {background-color: #ffe766; color: black;} 
  .button3 {background-color: #f44336;} 

  .swipe{
    overflow:auto;
    white-space:nowrap;
    background-color: rgb(229, 232, 235);
}

.box{
    background-color: rgba(96, 146, 73, 0.2);
    border: 3px solid rgb(47, 145, 60);
    border-radius: 10%;
    margin: 10px;
    width: 400px;
    height: 200px;
    display: inline-block;
}
.text{
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box:hover {opacity: 0.5;}

