
.container {
  display: flex;
  padding: 20px;
/** align all items vertically **/
  background-color: rgba(0,255,255,0.2);
  margin-bottom: 10px;
  border: 3px solid blue;
  border-radius: 10%;
  margin: 10px;
  width: 40%;
  }

  .text-container {
    margin-left: 50px;
  }

.container2 {
padding: 20px;
background-color: rgba(199, 61, 204, 0.2);
margin-bottom: 10px;
border: 3px solid rgb(163, 86, 150);
border-radius: 10%;
margin: 10px;
width: 40%;
}

  .container2 h3{
  text-align: center;
  }

  #butt{
    margin: 0 auto;
    width: 500px;
  }
  
  img {
    width: 300px;
    height: auto;
    border: 1px solid black;
  }
  


  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button2 {background-color: #ffe766; color: black;} 
  .button3 {background-color: #f44336;} 